@import "tailwindcss";

@theme inline {
  --color-navy: #0F172A;
  --color-gold: #D4AF37;
  --color-ice: #F8FAFC;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@layer base {
  body {
    @apply font-sans antialiased bg-white text-slate-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}